{% extends 'base.html.twig' %}

{% block title %}Ajoute un livre{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}

<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <div class="mt-5">
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.author) }}
        {{ form_row(form.resume) }}
        {{ form_row(form.picture) }}
        {{ form_row(form.price) }}
        {{ form_row(form.isRead) }}
        {{ form_row(form.own) }}



        <button type="submit" class="btn btn-sm btn-success">Valider</button>
        {{ form_end(form) }}
        </div>

</div>

{% endblock %}