{% extends "base.html.twig" %}

{% block title %}{% endblock %}


{% block body %}

        <h3 class="text-center my-4">Ajoute un livre</h3>

{{ form_start(form) }}
<div class="row">
	<div class="col">
		<div class="form-group">
			{{ form_row(form.title) }}
			{{ form_row(form.author) }}
			{{ form_row(form.resume) }}
		</div>
	</div>
	<div class="col">
		<div class="form-group">
			{{ form_row(form.picture) }}
			{{ form_row(form.price) }}
			{{ form_row(form.isRead) }}
			{{ form_row(form.own) }}
		</div>
	</div>
{{ form_label(form.category) }}
<p><a class="text-primary" href="{{ path('category_create', { 'library': library.id }) }}">Ajouter une categorie</a></p>
{{ form_widget(form.category) }}
</div>
<div class="d-flex justify-content-end mt-3">
{{ form_row(form.submit) }}
</div>
{{ form_end(form) }}

{% endblock %}