{% extends 'home.html.twig' %}

{% block title %}Hello SelectLibraryController!{% endblock %}
 {% block stylesheets %}

 {% endblock %}
{% block body %}


<div class="container">
    <div class="addLibrary">

        <form method="post" action="{{ path('library_create') }}">
            <label for="library">Donne un nom a ta bibliotheque</label>
            <input type="text" name="library" id="library" class="form-control mt-3" required autofocus>

            <button class="btn btn-sm btn-primary mt-2 mx-auto" type="submit">
                Valider
            </button>
        </form>

    </div>

    <div class="row">

        {% if librarys != null %}
        {% for library in librarys %}
        <div class="col-md-6">
            <div class="selectLibrary">
                <a href="{{ path('library_show', { id: library.id }) }}"><h3 class="text-center">{{ library.name }}</h3></a>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>


{% endblock %}
{% block javascripts %}

{{ parent() }}
<script src="{{ asset('asset/js/show_book.js') }}"></script>
{% endblock %}